*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
doc/modelviewprojection.man
install-sh
missing
src/.deps/
src/Makefile
src/Makefile.in
src/main.cpp
src/main.pdf
src/main.tex
src/modelviewprojection
src/modelviewprojection-main.o
src/monitor.png
src/monitor2.png
src/ndcSpace.png
src/ndcSpace1.png
src/ndcSpace2.png
src/plot1.png
src/screenspace.png
src/screenspace2.png
stamp-h1
