autoflake==2.3.3
furo==2025.12.19
glfw==2.10.0
ImageIO==2.37.3
isort==8.0.1
jupyter==1.1.1
jupytext==1.19.1
mathjax==0.1.2
matplotlib==3.10.8
moviepy==2.2.1
myst-nb==1.4.0
nbsphinx==0.9.8
numpy==2.4.3
PyOpenGL==3.1.10
pytest==9.0.2
Sphinx==9.1.0
sphinxcontrib-bibtex==2.6.5
sphinx_rtd_theme==3.1.0
sympy==1.14.0
wxpython==4.2.5
